.itemDetail{
    background-color: #f5f5f5;
    box-shadow: 0px 0px 15px -4px rgba(233, 7, 7, 0.424);
}
.brandDetail{
    font-style: italic;
    font-weight: 600;
}


.priceDetail{
    font-size: 1.8rem;
    color: red;
    font-weight: 700;
}

.descriptionDetail {
    font-size: 1.4rem;
}

.quantityContainer {

    justify-content: center;
}
.link {
    font-size: 1.4rem;
    text-decoration: None;
    color: white;
}

.link:hover {
    color: white;
    background-color: #0b5ed7;
}



.cantIcon {
    color: #3483fa;
    font-size: 30px;
    margin: 1rem 2rem;
    cursor: pointer;
}

.btnAdd {
    font-size: 1.2rem;
    justify-content: left;
}

.buttons {
    justify-content: space-evenly;
    margin-top: 2rem;
}

.btn {
    font-size: 1.4rem;
    font-weight: 600;
}

.btn-primary {
    background-color: #3483fa;
    border-color: #3483fa;;
}