.itemTechSpecs{
    background-color:hsl(0, 0%, 96%);
    margin: 1rem 0 0 0;
    box-shadow: 0px 0px 15px -5px rgba(233, 7, 7, 0.424);
}

.itemTechSpecs h2{
    color: green;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
}

.techIcon {
    font-size: 2rem;
    margin: 0.5rem;
    color: #3483fa;
}

.techContainer h3 {
    color: green;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
}

.techContainer p {
    font-size: 1rem;
}