.App {
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: block;  
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: red;
}

