.cantContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.inputContainer input {
  text-align: center;
  width: 8rem;
  font-size: 1.4rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

.cantIcon {
  display: flex;
  color: #3483fa;
  font-size: 2rem;
  color: #3483fa;
  cursor: pointer;
}

.inputContainer {
  max-width: 8rem;
}

.fa-minus-circle {
  margin: 0 0.5rem 2.5rem 0;
}

.fa-plus-circle {
  margin: 0 0 2.5rem 0.5rem;
}

